.canvas {
  -webkit-animation: rotation 3s infinite linear;
}

@-webkit-keyframes rotation {
  from {
      -webkit-transform: rotate(0deg);
  }
  to {
      -webkit-transform: rotate(359deg);
  }
}

body {
  background-color: brown;
}